@import "../../../styles/variables";

.dashboard-user-ui-component {
    .on-card {
        height: 5rem;
        text-transform: none;
    }

    .user {
        display: grid;
        justify-content: flex-start;
        align-items: center;
        grid-template-areas:
            "image username"
            "image tag";
    }

    h2,
    h4 {
        // margin-top: 0.5rem;
        margin-left: 0.2rem;
        text-align: start;
    }

    h2 {
        margin-top: 0.6rem;
        font-size: 0.9rem;
        grid-area: username;
    }

    h4 {
        font-size: 0.7rem;
        grid-area: tag;
        color: $footer-text;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    img {
        min-width: 3rem;
        max-width: 3rem;
        border-radius: 50%;
        grid-area: image;
        margin-left: auto;

        margin-right: 0.5rem;
    }

    .detail {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 69;
        width: 15rem;
        height: 14rem;
        margin: -14.5rem auto 0 -0.5rem;
        background: $bg-alt;
        border: 1px solid $border;
        border-radius: 1.8rem;
        box-shadow: 3px 10px 4px rgba(0, 0, 0, 0.25);

        animation-name: dashboard-user-in;
        animation-duration: 0.2s;
    }

    .out {
        animation-name: dashboard-user-out;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

    @keyframes dashboard-user-in {
        from {
            opacity: 0;
            transform: scale(0.3);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes dashboard-user-out {
        from {
            opacity: 1;
            transform: scale(1);
        }

        to {
            opacity: 0;
            transform: scale(0.3);
        }
    }

    .on-bg-alt {
        margin: 0.6rem 0.34rem 0 auto;

        svg path {
            transition: all 0.2s;
        }

        &:hover {
            svg path {
                fill: lighten($nav-text, 10%);
            }
            background: none;
        }
    }

    .roles {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -2rem;
        margin-left: 1rem;
        height: 7.5rem;
        overflow: auto;

        &::-webkit-scrollbar {
            @include laptop {
                width: 0.3rem;
            }
        }

        article {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #da004e;
            border-radius: 90px;
            margin-right: 0.5rem;
            margin-top: 0.5rem;
            padding: 0.2rem 0.5rem;

            h3 {
                font-size: 0.7rem;
                font-weight: $semi-bold;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                text-align: center;
                max-width: 5rem;
                margin-left: 0.2rem;
                margin-top: 0;
            }

            div {
                width: 1rem;
                height: 1rem;
                background: #da004e;
                border-radius: 50%;
            }
        }

        &.three {
            justify-content: center;
            margin-left: 0;
            margin-top: -2rem;
            height: 9rem;

            article {
                padding: 0.2rem 0.7rem;
                border: 2.2px solid #da004e;

                h3 {
                    max-width: 5.5rem;
                    font-size: 0.8rem;
                    margin-left: 0.3rem;
                }
            }
        }
    }

    .logout-button {
        margin: auto;
        margin-bottom: 1rem;
    }
}
