@import "../../../../scss/variables";

.mat-raised-button {
    font-weight: $bold;
    font-size: 1.4rem;
    padding: 0.3rem 2.5rem;
    background: $primary;
    border-radius: 0.3rem;

    &:hover {
        background: lighten($primary, 2%);
    }

    @include phone {
        padding: 0.3rem 2.5rem;
        border-radius: 0.3rem;
    }

    @include tablet {
        padding: 0.2rem 2.6rem;
        border-radius: 0.4rem;
    }
}

.content {
    display: flex;

    justify-content: center;

    h3 {
        font-weight: $bold;
        font-size: 1.2rem;
        text-align: center;
    }

    img {
        margin-right: -1rem;
        margin-left: 1rem;
        width: 1.5rem;
    }
}
