@import "../../styles/variables";

.footer-ui-component {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: white;
        padding: 2rem 2.5rem;

        @include laptop {
            flex-direction: row;
            justify-content: space-between;
            height: 12rem;
            padding: 2rem 5rem;
        }

        .icons {
            display: flex;
            justify-content: center;
        }

        a {
            padding: 0.5rem 1rem;

            img {
                width: 35px;
                height: 35px;
            }
        }

        & > * {
            font-size: 1.4rem;
            font-weight: $regular;
            color: $footer-text;
            text-align: center;
            margin-top: auto;
            margin-bottom: 3.5rem;
        }

        h4:last-of-type {
            margin-bottom: 1rem;

            @include laptop {
                margin-bottom: 3.5rem;
            }
        }
    }

    .bg {
        background: $bg;
    }

    .bg-alt {
        background: $bg-alt;
    }
}
