@import "../../../../scss/variables";

.mat-raised-button {
    font-weight: $bold;
    font-size: 1.5rem;
    padding: 0.6rem 2.4rem;
    background: $primary;
    border-radius: 3rem;

    &:hover {
        background: lighten($primary, 2%);
    }

    @include large-phone {
        padding: 0.8rem 3rem;
    }
}
