@import "../../../scss/variables.scss";

.content {
    @include tablet {
        display: flex;
        flex-direction: column;
        margin-left: 15rem;
        height: 100vh;
        width: 100vw;
    }

    p {
        margin: 2rem 2rem;
    }
}

h1 {
    margin: 2rem auto;
    text-align: center;
}

h2 {
    margin: 2rem auto;
    text-align: center;
}

img,
video,
app-loading {
    display: block;
    width: 50%;
    min-width: 18rem;
    max-width: 35rem;
    margin: 0.5rem auto;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

form,
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.mat-raised-button {
    font-weight: $semi-bold;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    margin-right: 0.2rem;

    &:last-of-type {
        margin-left: 0.5rem;
    }
}

input[type="file"] {
    display: none;
}

label {
    display: block;
}

app-loading {
    display: block;

    margin: 0 auto;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    background: $bg-alt;
    box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, 0.5);

    .img-container {
        img {
            width: 40%;
        }
    }
}

.test-h3 {
    color: green;
    text-align: center;
}

.file {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    img,
    video,
    audio {
        margin: 0 !important;
    }

    @include tablet {
        flex-direction: row;
    }
}
.delete {
    // margin-left: -3rem;
}
