@import "../../styles/variables.scss";

.server-down-modal-ui-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0.5rem 0.5rem 0.5rem;
    min-width: 20rem;
    background: $bg-alt;
    border: 1px solid $border;
    box-shadow: 3px 10px 4px rgba(0, 0, 0, 0.4);

    section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    #close {
        margin: 0 0 0 12rem;
        padding-left: 16px;
        padding-right: 16px;
        line-height: 36px;
    }

    h1 {
        font-weight: $bold;
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        margin-left: 1rem;
        margin-top: 1rem;
        text-align: center;
    }
}
