@import "variables";
@import "reset";
@import "responsive";
@import "../modules/home/HomePage";
@import "../modules/dashboard/DashboardPage";
@import "../ui/LoginButton/LoginButton";
@import "../ui/JoinButton/JoinButton";
@import "../ui/Footer/Footer";
@import "../ui/JourneyButton/JourneyButton";
@import "../ui/NavBar/NavBar";
@import "../ui/DashboardNavBar/DashboardNavBar";
@import "../ui/DashboardUser/DashboardUser";
@import "../ui/ServerDownModal/ServerDownModal";
@import "../modules/not-found/NotFoundPage";

#nprogress {
    position: relative;
    z-index: 100;
    
  .bar {
      background: lighten($primary, 10%) !important;
    }
  .peg {
        box-shadow: 0 0 10px lighten($primary, 10%), 0 0 5px lighten($primary, 10%) !important;
   } 
  .spinner-icon {
       border-top-color: lighten($primary, 10%) !important;
       border-left-color: lighten($primary, 10%) !important;
   }
}
