@import "variables";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap";

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    color: white;
}

/* Set core body defaults */
body {
    background: $bg;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Open Sans" !important;
    color: white !important;
}

/* Set the core h1 defaults */
h1,
.h1 {
    font-size: 2.5rem;
    font-weight: $bold;
    // color: white;
}

/* Set the core paragraph defaults */
p,
.p {
    line-height: 2rem;
    font-size: 1.25rem;
    line-height: 2;
    color: $light-text;
}

/* Set the core list defaults */
li,
.li {
    font-size: 1.5rem;
    font-weight: $semi-bold;
    color: $nav-text;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style: none;
}
/* Change angular material button hover color */
@mixin mat-button {
    background: #191b2b;
}

// .mat-button-base {
//   font-weight: $bold !important;
// }

.MuiButton-root:hover {
    @include mat-button();

    &.on-card {
        background: lighten(#191b2b, 6%);
    }

    &.on-bg-alt {
        background: lighten($bg-alt, 2%);
    }
}

.mat-icon-button:hover {
    @include mat-button();
}

a {
    text-decoration: none;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Custom scrollbar for laptop and bigger. */
::-webkit-scrollbar-track {
    @include laptop {
        border-radius: 0.7rem;
        background: lighten($bg-alt, 2%);
    }
}

::-webkit-scrollbar {
    @include laptop {
        width: 0.8rem;
        background: lighten($bg-alt, 2%);
    }
}

::-webkit-scrollbar-thumb {
    @include laptop {
        border-radius: 0.7rem;
        background: $footer-text;

        &:hover {
            background: lighten($footer-text, 3%);
        }
    }
}

::-webkit-scrollbar-corner {
    @include laptop {
        background: lighten($bg-alt, 2%);
    }
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
