@import "variables";

html {
    // font-size: 16px;
    @include small-phone {
        font-size: 13px;
    }

    @include phone {
        font-size: 16px;
    }

    @include large-phone {
        font-size: 16px;
    }

    // @include tablet {
    //     font-size: 16px;
    // }

    // @include laptop {
    //     font-size: 16px;
    // }

    // // @include desktop {
    // //     font-size: 17px;
    // // }
}
