<app-nav-bar [user]="user">
    <nav>
        <button routerLink="/" class="h1" mat-button>TTS</button>
        <div class="links">
            <a *ngFor="let link of links" [routerLink]="link.path" mat-button>{{ link.name }}</a>
        </div>
        <button (click)="toggleDrawer()" class="hamburger" mat-button>
            <app-hamburger></app-hamburger>
        </button>
    </nav>

    <div class="grid">
        <div class="text">
            <h1 class="main">The Tomatohead Society</h1>
            <p>The Tomatohead Society (TTS) is a Fortnite clan that
                strongly supports Team Pizza and is always looking
                for new members like you!</p>

            <section>
                <app-login *ngIf="!user"></app-login>
                <app-home-logout *ngIf="user"></app-home-logout>
                <app-join></app-join>
            </section>
        </div>
        <img class="tomatohead" src="../../../assets/tomatohead.png" alt="A picture of tomatohead.">
    </div>

    <article class="team-pizza">
        <img src="assets/pizza.svg" alt="A picture of a pizza.">
        <div class="text">
            <h1>Team Pizza</h1>
            <p>Team Pizza is the team for Tomatohead in the Food war
                and was the biggest motivator for creating TTS. We
                heavily support Team Pizza, so If you’d like to join,
                we recommend you support them too.</p>
        </div>
    </article>

    <article class="discord">
        <img src="assets/chat.svg" alt="A picture of a pizza.">
        <div class="text">
            <h1>Discord</h1>
            <p>We have a Discord server! our server,
                is where you can
                talk to the mods, do tryouts, attend giveaways, share
                your opinion on polls, and so much more! We do most
                of our stuff on Discord, so you should join if you
                want to see what’s happening!</p>
        </div>
    </article>

    <article class="something">
        <img src="assets/together.svg" alt="A picture of a pizza.">
        <div class="text">
            <h1>Something</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Bibendum magna morbi facilisis tellus diam amet. Enim
                magna. changed</p>
            <app-journey></app-journey>
        </div>
    </article>

    <app-footer></app-footer>
</app-nav-bar>