<div [@detail]="state" class="detail">
    <button (click)="toggle()" mat-button class="on-bg-alt">
        <app-close></app-close>
    </button>

    <section class="roles" [ngClass]="class">
        <article *ngFor="let r of roles" [style.borderColor]="r.color">
            <div [style.background]="r.color"></div>
            <h3>{{ r.name }}</h3>
        </article>
    </section>

    <app-logout></app-logout>
</div>

<button (click)="toggle()" mat-button class="toggle on-card">
    <div class="user">
        <img [src]="user?.avatarUrl">
        <h2>{{ user?.name }}</h2>
        <h4>{{ user?.tag }}</h4>
    </div>
</button>