@import "../../styles/variables";

.join-button-ui-component a {
    line-height: 36px;
    text-transform: none;

    font-weight: $bold;
    font-size: 1.5rem;
    padding: 0.25rem 2.8rem;
    background: none !important;
    border-radius: 1rem;
    border: 0.3rem solid $primary;

    &:hover {
        border: 0.3rem solid lighten($primary, 5%);
    }

    @include phone {
        padding: 0.45rem 2.8rem;
        border-radius: 1rem;
    }

    @include tablet {
        border-radius: 0.8rem;
        padding: 0.5rem 2.8rem;
    }
}
